.leaflet-bar-part-single {
	-webkit-border-radius: 4px 4px 4px 4px;
	        border-radius: 4px 4px 4px 4px;
	border-bottom: none;
}

.leaflet-touch .leaflet-bar-part-single {
	-webkit-border-radius: 7px 7px 7px 7px;
	        border-radius: 7px 7px 7px 7px;
	border-bottom: none;
}

.leaflet-control-marker a {
	background-image: url(marker.png);
}

.leaflet-control-marker.active a {
	background-image: url(marker_active.png);
}

